// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap - только необходимые модули для фронтенда
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
// Удалены неиспользуемые модули:
// - dropdown (используется только в админке)
// - nav/navbar (используем кастомный navbar.css)
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';
