.arrow-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color-button-123d4d);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: none; /* скрыта по умолчанию */
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    font-size: 2rem;
    z-index: 999999;
}

.arrow-up:hover {
    background-color: #333;
}

/* Когда нужно показать */
.arrow-up.show {
    display: flex;
}
