/* Базовые стили, которые используются на всех страницах */
/* Этот файл объединяет общие стили для уменьшения дублирования */

/* Импортируем только необходимые стили */
@import './navbar.css';
@import './footer.css';
@import './arrow.css';
@import './cookies.css';
