/* Стили для заголовка страницы контактов */
.contacts-header .title-text {
    color: var(--primary-color-button-123d4d);
    font-family: "Tenor Sans", serif;
}

.contacts-header .lead {
    color: var(--secondary-color-1d7d6f);
    font-family: "Montserrat", sans-serif;
}

.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerMain .container {
    font-family: Montserrat;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    position: relative;
}

.containerMain .container iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.containerMain .container .content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.containerMain .container .pageTitle {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
}

.containerMain .container .text {
    font-size: var(--font-size-text-desc-20px);
    font-weight: 500;
    color: var(--secondary-color-1d7d6f);
    text-wrap: balance;
}

.containerMain .container .adress {
    font-weight: 700;
    font-size: var(--font-size-text-desc-20px);
    color: var(--primary-color-button-123d4d);
}

.containerMain .container .adress-desc {
    font-weight: 700;
    font-size: var(--font-size-text-desc-16px);
    color: var(--primary-color-button-123d4d);
}

.containerMain .container .phone {
    font-size: var(--font-size-text-desc-20px);
    font-weight: 700;
    color: var(--secondary-color-1d7d6f);
}

.containerMain .container .social,
.containerMain .container .rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 1440px) {
    .containerMain {
        padding: 25px 50px;
    }

    .containerMain .container {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .containerMain {
        padding: 25px;
    }

    .containerMain .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .containerMain .container iframe {
        height: 350px;
        order: 1;
    }

    .containerMain .container .pageTitle {
        text-align: center;
    }

    .containerMain .container .text {
        text-align: center;
    }

    .containerMain .container .adress,
    .containerMain .container .adress-desc {
        text-align: center;
    }

    .containerMain .container .phone {
        justify-content: center;
    }

    .containerMain .container .social,
    .containerMain .container .rating {
        justify-content: center;
    }

    .phone {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .containerMain {
        padding: 0 10px;
    }

    .containerMain .container iframe {
        height: 250px;
    }

    .containerMain .container .social,
    .containerMain .container .rating {
        flex-direction: column;
        align-items: center;
    }
}
