.background-gor-directions {
    height: 500px; /* высота блока */
    background: url("/public/images/svg/gory.svg") no-repeat center center;
    background-size: cover;
    display: flex; /* включаем flex */
    align-items: center; /* вертикальное центрирование текста */
    width: 100%; /* фон на всю ширину */
}

/* Контейнер с текстом */
.background-gor-directions .container {
    text-align: left; /* текст слева */
}

/* Заголовок */
.background-gor-directions .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: clamp(1.875rem, 1.5682rem + 1.3636vw, 3.75rem);
    line-height: 1.5em;
    text-transform: uppercase;
    color: var(--primary-color-button-123d4d);
}

/* Описание */
.background-gor-directions .desc {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-20px);
    line-height: 1.75em;
    color: var(--secondary-color-1d7d6f);
    margin-top: 10px;
}

/* Адаптив */
@media (max-width: 1200px) {
    .background-gor-directions {
        height: 400px;
    }
}

.directions-block .title-direction {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    line-height: 50px;
    color: var(--primary-color-button-123d4d);
}

.directions .section-title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    line-height: 50px;
    color: var(--primary-color-button-123d4d);
}

.directions span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-28px);
    color: var(--secondary-color-1d7d6f);
}
.directions .button {
    padding: 1rem;
    border: 0.1rem solid var(--primary-color-button-123d4d);
    border-radius: 1.8rem;
    color: var(--primary-color-button-123d4d);
    font-size: var(--font-size-text-desc-28px);
}

.directions .main-directions img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 1rem;
}

.directions .main-directions .card-directions {
    background-color: #ebf2ee;
    border-radius: 1rem;
    padding-bottom: 2rem; /* добавляем отступ снизу к самой карточке */
    height: 100%;
}

.directions .main-directions .card-directions .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-28px);
    line-height: 32px;
    color: var(--primary-color-button-123d4d);
}

.directions .main-directions .card-directions .text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-16px);
    line-height: 24px;
    color: #007677;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* ограничиваем 2 строками */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(24px * 4); /* фиксируем высоту на 2 строки */
    padding: 0 1rem;
}
