.background-gor .title-direction {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    line-height: 50px;
    color: var(--primary-color-button-123d4d);
}

.directions .section-title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    line-height: 50px;
    color: var(--primary-color-button-123d4d);
}

.directions span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-28px);
    color: var(--secondary-color-1d7d6f);
}
.directions .button {
    padding: 1rem;
    border: 0.1rem solid var(--primary-color-button-123d4d);
    border-radius: 1.8rem;
    color: var(--primary-color-button-123d4d);
    font-size: var(--font-size-text-desc-28px);
}

.directions .main-directions img {
    width: 100%;
    border-radius: 1rem;
}

.directions .main-directions .card-directions {
    background-color: #ebf2ee;
    border-radius: 1rem;
    height: 100%;
}

.directions .main-directions .card-directions .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-28px);
    line-height: 32px;
    color: var(--primary-color-button-123d4d);
}

.directions .main-directions .card-directions .text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-16px);
    line-height: 24px;
    color: #007677;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* ограничиваем 2 строками */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(24px * 4); /* фиксируем высоту на 2 строки */
    padding: 0 1rem;
}
