.background-gor-price-list {
    height: 500px; /* высота блока */
    background: url("/public/images/svg/gory.svg") no-repeat center center;
    background-size: cover;
    display: flex; /* включаем flex */
    align-items: center; /* вертикальное центрирование текста */
    width: 100%; /* фон на всю ширину */
}

/* Контейнер с текстом */
.background-gor-price-list .container {
    text-align: left; /* текст слева */
}

/* Заголовок */
.background-gor-price-list .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: clamp(1.875rem, 1.5682rem + 1.3636vw, 3.75rem);
    line-height: 1.5em;
    text-transform: uppercase;
    color: var(--primary-color-button-123d4d);
}

/* Описание */
.background-gor-price-list .desc {
    font-family: Montserrat;
    font-weight: 500;
    font-size: var(--font-size-text-desc-20px);
    line-height: 1.75em;
    color: var(--secondary-color-1d7d6f);
    margin-top: 10px;
}

/* Адаптив */
@media (max-width: 1200px) {
    .background-gor-price-list {
        height: 400px;
    }
}

/* ======= Категории ======= */
.price-list .category-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    padding: 14px 24px;
    border-radius: 10px !important;
    border: none;
    transition: all 0.3s ease;
    min-width: 220px;
    cursor: pointer;
}

.price-list .category-btn.inactive {
    background-color: #ebf1ee;
    color: var(--secondary-color-1d7d6f);
}

.price-list .category-btn.active {
    background-color: var(--primary-color-button-123d4d);
    color: #fefefc;
    box-shadow: 0 6px 12px rgba(18, 61, 77, 0.25);
    transform: translateY(-2px);
}

.price-list .category-btn:hover:not(.active) {
    background-color: #dde8e4;
    color: #16665a;
}

/* ======= Контент категорий ======= */
.price-list .content-text {
    display: none;
    margin-top: 2rem;
}

.price-list .content-text.active {
    display: block;
}

/* ======= Картинки прайса ======= */
.price-list .price-image {
    position: relative; /* чтобы z-index работал */
    z-index: 1; /* ниже navbar */
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* ======= LightGallery ======= */
.lightbox,
.lightbox.active,
.lg-backdrop,
.lg-outer,
.lg-outer .lg-inner {
    z-index: 11000 !important;
}

.lg-backdrop,
.lg-outer {
    z-index: 15000 !important;
}

/* ======= Адаптивность ======= */
@media (max-width: 768px) {
    .price-list .price-image {
        max-width: 95%;
    }

    .price-list .category-btn {
        min-width: auto;
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
}
