.zaglyshka .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.zaglyshka .container .img-fluid {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.zaglyshka .container .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    color: #103e4e;
    text-align: center;
}

.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px 100px;
    gap: 50px;
}

.containerMain .container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.containerMain .container .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
}

.containerMain .container .parent .div1 {
    grid-area: 1 / 1 / 3 / 2;
}

.containerMain .container .parent .div2 {
    grid-area: 3 / 1 / 7 / 2;
}

.containerMain .container .parent .div3 {
    grid-area: 1 / 2 / 4 / 3;
}

.containerMain .container .parent .div4 {
    grid-area: 4 / 2 / 7 / 3;
}

.containerMain .container .parent .div5 {
    grid-area: 1 / 3 / 5 / 4;
}

.containerMain .container .parent .div6 {
    grid-area: 5 / 3 / 7 / 4;
}

.containerMain .container .parent .text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14.400px;
    padding: 25px;
    background-color: #1d7d6f;
    border-radius: 20px;
}

.containerMain .container .parent .text-block.other {
    background-color: #ebf1ee;
}

.containerMain .container .parent .text-block .title {
    font-family: Tenor Sans;
    line-height: 1em;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

.containerMain .container .parent .text-block.other .title {
    color: #103e4e;
}

.containerMain .container .parent .text-block .text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-wrap: balance;
    line-height: 1.5em;
}

.containerMain .container .parent .text-block.other .text {
    color: #1d7d6f;
}

.containerMain .container .parent .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.containerMain .container .subTitle {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: 40px;
    color: #007677;
}

.containerMain .container .text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: #123d4d;
    line-height: 1.5em;
    margin: 0;
}

.containerMain .container .text-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #ebf1ee;
    border-radius: 20px;
}

@media (max-width: 1440px) {
    .containerMain {
        padding: 25px 50px;
    }

    .containerMain .container {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .containerMain {
        padding: 25px;
    }

    .containerMain .container .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .containerMain .container .parent .div1,
    .containerMain .container .parent .div2,
    .containerMain .container .parent .div3,
    .containerMain .container .parent .div4,
    .containerMain .container .parent .div5,
    .containerMain .container .parent .div6 {
        grid-area: unset;
    }

    .containerMain .container .parent .text-block .title,
    .containerMain .container .subTitle {
        font-size: 30px;
    }

    .containerMain .container .parent .text-block .text,
    .containerMain .container .text {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .containerMain {
        padding: 25px 10px;
        gap: 25px;
    }

    .containerMain .container .parent {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .containerMain .container .parent .text-block .title,
    .containerMain .container .subTitle {
        font-size: 22px;
    }

    .containerMain .container .parent .text-block {
        padding: 25px 10px;
        gap: 15px;
    }

    .containerMain .container .text-block {
        padding: 25px 10px;
    }
}

.questions .title {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: var(--font-size-text-desc-40px);
    color: var(--primary-color-button-123d4d);
}

.questions .accordion .accordion-header .accordion-button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: var(--font-size-text-desc-28px);
    line-height: 32px;
    color: var(--primary-color-button-123d4d) !important;
}

.questions .accordion .accordion-body {
    font-family: Montserrat;
    font-weight: 600;
    font-size: var(--font-size-text-desc-16px);
    line-height: 32px;
    color: var(--secondary-color-1d7d6f);
}

.questions .accordion .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.containerMainContacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px 100px;
}

.containerMainContacts .container {
    font-family: Montserrat;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    position: relative;
}

.containerMainContacts .container iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.containerMainContacts .container .content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.containerMainContacts .container .pageTitle {
    font-family: Tenor Sans;
    font-weight: 400;
    font-size: 40px;
}

.containerMainContacts .container .text {
    font-size: 14px;
    font-weight: 500;
    color: #1d7d6f;
    text-wrap: balance;
}

.containerMainContacts .container .adress {
    font-weight: 700;
    font-size: 20px;
    color: #123d4d;
}

.containerMainContacts .container .phone {
    font-size: 22px;
    font-weight: 700;
    color: #1d7d6f;
}

.containerMainContacts .container .social,
.containerMainContacts .container .rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 1440px) {
    .containerMainContacts {
        padding: 25px 50px;
    }

    .containerMainContacts .container {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .containerMainContacts {
        padding: 25px;
    }

    .containerMainContacts .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .containerMainContacts .container iframe {
        height: 350px;
        order: 1;
    }

    .containerMainContacts .container .pageTitle {
        font-size: 30px;
        text-align: center;
    }

    .containerMainContacts .container .text {
        text-align: center;
    }

    .containerMainContacts .container .adress {
        text-align: center;
        font-size: 18px;
    }

    .containerMainContacts .container .phone {
        justify-content: center;
        font-size: 20px;
    }

    .containerMainContacts .container .social,
    .containerMainContacts .container .rating {
        justify-content: center;
    }

    .phone {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .containerMainContacts {
        padding: 25px 10px;
    }

    .containerMainContacts .container iframe {
        height: 250px;
    }
}